//http://paletton.com/#uid=63H0N0kw0w0jyC+oRxVy4oIDfjr

$blue-l2: #557CBF;
$blue-l1: #3461AE;
$blue: #1049A9;
$blue-d1: #0C3883;
$blue-d2: #072B67;

$purple-l2: #8555C1;
$purple-l1: #6B33B2;
$purple: #540EAD;
$purple-d1: #410A85;
$purple-d2: #320769;

$green-l2: #50CD76;
$green-l1: #2BC158;
$green: #00BD39;
$green-d1: #00922C;
$green-d2: #007223;

$gold-l2: #FFC763;
$gold-l1: #FFB839;
$gold: #FFA400;
$gold-d1: #C57F00;
$gold-d2: #9B6400;

$red-l2: #FF6363;
$red-l1: #FF3939;
$red: #F00;
$red-d1: #C50000;

$dark-l1: #444;
$dark: #333;
$dark-d1: #222;
$dark-d2: #111;

$light-l1: #efefef;
$light: #eee;
$light-d1: #ddd;
$light-d2: #bbb;
